body {
    background-color: #101822;
    padding: 0%;
    margin: 0%;
    width: 100%;
}
.NavTache {
    position: absolute;
    width: 100%;
    height: 100px;
    background: #FFFFFF;
}

#logo {
    position: absolute;
    width: 6%;
    height: 10%;
}

.Background {
    position: absolute;
    width: 98%;
    height: 85.8%;
    top: 12.7%;
    left: 1%;
    border-radius: 50px;
    background: #AB3745;
}

#Background2 {
    position: absolute;
    width: 98%;
    height: 2050px;
    top: 82.7%;
    left: 1%;
    background: #AB3745;
}

#Accueil {
    position: absolute;
    width: 209px;
    height: 52px;
    right: 70%;
    bottom: 91%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    color: #000000;
    text-decoration: none;
}

#Lesarmes {
    position: absolute;
    width: 178px;
    height: 43px;
    right: 51%;
    bottom: 92%;
    font-family: 'Inter';
    font-style: normal; 
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    color: #000000;
    text-decoration: none;
}

#Lespersonnages {
    position: absolute;
    width: 178px;
    height: 43px;
    right: 29%;
    bottom: 92%;
    font-family: 'Inter';
    font-style: normal; 
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    color: #000000;
    text-decoration: none; 
}

#Lesmaps {
    position: absolute;
    width: 178px;
    height: 43px;
    right: 5%;
    bottom: 92%;
    font-family: 'Inter';
    font-style: normal; 
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    color: #000000;
    text-decoration: none; 
}

#PmFusilsMitralleuses {
    position: absolute;
    width: 370px;
    height: 40px;
    right: 78%;
    bottom: 78%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 36px;
    color: #000000;
}

#SnipersPompes {
    position: absolute;
    width: 370px;
    height: 40px;
    right: 78%;
    bottom: 52%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 36px;
    color: #000000;
}

#PistoletCouteauArmure {
    position: absolute;
    width: 370px;
    height: 40px;
    right: 78%;
    bottom: 25%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 36px;
    color: #000000;
}

#MotsCliquables {
    position: absolute;
    width: 370px;
    height: 40px;
    right: 2%;
    bottom: 1%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 36px;
    color: #000000;
}

#MapAscent {
    position: absolute;
    width: 245px;
    height: 138px;
    right: 75%;
    bottom: 65%;
}

#MapBind {
    position: absolute;
    width: 245px;
    height: 138px;
    right: 55%;
    bottom: 65%;
}

#MapFracture {
    position: absolute;
    width: 245px;
    height: 138px;
    right: 35%;
    bottom: 65%;
}

#MapBreeze {
    position: absolute;
    width: 245px;
    height: 138px;
    right: 15%;
    bottom: 65%;
}

#MapHaven {
    position: absolute;
    width: 245px;
    height: 138px;
    right: 65%;
    bottom: 28%;
}

#MapIcebox {
    position: absolute;
    width: 245px;
    height: 138px;
    right: 45%;
    bottom: 28%;
}

#MapSplit {
    position: absolute;
    width: 245px;
    height: 138px;
    right: 25%;
    bottom: 28%;
}

#Intro {
    position: absolute;
    width: 611px;
    height: 276px;
    bottom: 53%;
    right: 65%;
    color: black;
}

#Intro2 {
    position: absolute;
    width: 611px;
    height: 276px;
    bottom: 53%;
    right: 25%;
    color: black;
}

#Ascent {
    position: absolute;
    width: 611px;
    height: 276px;
    bottom: 53%;
    right: 52%;
    color: black;
    font-size: 20px;
}

#Bind {
    position: absolute;
    width: 611px;
    height: 276px;
    bottom: 53%;
    right: 32%;
    color: black;
    font-size: 20px;
}

#Fracture {
    position: absolute;
    width: 611px;
    height: 276px;
    bottom: 53%;
    right: 12.4%;
    color: black;
    font-size: 20px;
}

#Breeze {
    position: absolute;
    width: 280px;
    height: 276px;
    bottom: 53%;
    left : 1460px;
    color: black;
    font-size: 20px;
}

#Haven {
    position: absolute;
    width: 611px;
    height: 276px;
    bottom: 16%;
    left : 500px;
    color: black;
    font-size: 20px;
}

#Icebox {
    position: absolute;
    width: 611px;
    height: 276px;
    bottom: 16%;
    left : 882px;
    color: black;
    font-size: 20px;
}

#Split {
    position: absolute;
    width: 611px;
    height: 276px;
    bottom: 16%;
    left : 1267px;
    color: black;
    font-size: 20px;
}

#Ascentcara {
    position: absolute;
    width: 611px;
    height: 276px;
    bottom: 34.5%;
    right : 56%;
    color: black;
    font-size: 14px;
} 

#Bindcara {
    position: absolute;
    width: 611px;
    height: 476px;
    bottom: 13%;
    right : 36%;
    color: black;
    font-size: 14px;
}

#Fracturecara {
    position: absolute;
    width: 611px;
    height: 476px;
    bottom: 13%;
    right : 16%;
    color: black;
    font-size: 14px;
}

#Breezecara {
    position: absolute;
    width: 311px;
    height: 476px;
    bottom: 13%;
    left : 72.2%;
    color: black;
    font-size: 14px;
}

#Havencara {
    position: absolute;
    width: 611px;
    height: 206px;
    top: 73%;
    right : 46%;
    color: black;
    font-size: 14px;
}

#Iceboxcara {
    position: absolute;
    width: 611px;
    height: 206px;
    top: 73%;
    right : 26%;
    color: black;
    font-size: 14px;
}

#Splitcara {
    position: absolute;
    width: 611px;
    height: 206px;
    top: 73%;
    left : 62.2%;
    color: black;
    font-size: 14px;
}

#Actu1 {
    position: absolute;
    width: 200px;
    height: 160px;
    left: 85%;
    bottom: 60%
}

#Txtactu1 {
    position: absolute;
    width: 211px;
    height: 40px;  
    left: 85%;
    bottom: 55%;
    font-size: 13px;
}

#Actu2 {
    position: absolute;
    width: 200px;
    height: 160px;
    left: 85%;
    bottom: 30%
}

#Txtactu2 {
    position: absolute;
    width: 211px;
    height: 40px;  
    left: 85%;
    bottom: 25%;
    font-size: 13px;
}

#actualités {
    position: absolute;
    width: 100px;
    height: 18px;
    left: 85%;
    bottom: 80%;
    font-size: 14px;
}

#breach {
    position: absolute;
    width: 202px;
    height: 222px;     
    bottom: 550px;
    left: 150px; 
}

#brimstone {
    position: absolute;
    width: 202px;
    height: 222px;     
    bottom: 550px;
    left: 580px; 
}

#jett {
    position: absolute;
    width: 110px;
    height: 222px;     
    bottom: 540px;
    left: 1085px;   
}

#phoenix {
    position: absolute;
    width: 110px;
    height: 232px;     
    bottom: 538px;
    left: 1570px;  
}

#sage {
    position: absolute;
    width: 150px;
    height: 222px;     
    bottom: 30px;
    left: 180px;  
}

#sova {
    position: absolute;
    width: 150px;
    height: 222px;
    left: 585px;     
    bottom: 30px;
}

#astra {
    position: absolute;
    width: 150px;
    height: 222px;
    bottom: 30px;
    left: 1085px;  
}

#chamber {
    position: absolute;
    width: 160px;
    height: 222px;     
    left: 1570px; 
    bottom: 30px;
}

#cypher {
    position: absolute;
    width: 160px;
    height: 222px;    
    left: 180px; 
    top: 1185px;
}

#kayo {
    position: absolute;
    width: 160px;
    height: 222px;    
    left: 600px; 
    top: 1185px;
}

#killjoy {
    position: absolute;
    width: 250px;
    height: 250px;    
    left: 1030px;
    top: 1165px;
}

#neon {
    position: absolute;
    width: 160px;
    height: 222px;    
    left: 1570px; 
    top: 1185px;
}

#omen {
    position: absolute;
    width: 160px;
    height: 222px;    
    left: 150px; 
    top: 1700px;
}

#raze {
    position: absolute;
    width: 160px;
    height: 245px;    
    left: 585px; 
    top: 1680px;
}

#reyna {
    position: absolute;
    width: 160px;
    height: 265px;    
    top: 1665px;
    left: 1080px;
}

#skye {
    position: absolute;
    width: 250px;
    height: 270px;      
    top: 1673px;
    left: 1535px; 
}

#viper {
    position: absolute;
    width: 180px;
    height: 270px;      
    top: 2220px;
    left: 585px; 
}

#yuro {
    position: absolute;
    width: 180px;
    height: 270px;      
    top: 2220px;
    left: 1080px;
}

#Nbreach {
    position: absolute;
    width: 202px;
    height: 222px;     
    bottom: 560px;
    left: 210px;
    color: black;
    font-size: 20px;   
}

#Nbrimstone {
    position: absolute;
    width: 202px;
    height: 222px;  
    bottom: 60%;
    left : 625px;
    color: black;
    font-size: 20px;   
}

#Njett {
    position: absolute;
    width: 202px;
    height: 222px;  
    bottom: 60%;
    left : 1120px;
    color: black;
    font-size: 20px;   
}

#Nphoenix {
    position: absolute;
    width: 202px;
    height: 222px;  
    bottom: 60%;
    left : 1590px;
    color: black;
    font-size: 20px;    
}

#Nsage {
    position: absolute;
    width: 202px;
    height: 222px;     
    bottom: 60px;
    left: 230px;
    color: black;
    font-size: 20px;   
}

#Nsova {
    position: absolute;
    width: 202px;
    height: 222px;     
    bottom: 60px;
    left : 645px;
    color: black;
    font-size: 20px; 
}

#Nastra {
    position: absolute;
    width: 202px;
    height: 222px;  
    bottom: 58px;
    left : 1140px;
    color: black;
    font-size: 20px; 
}

#Nchamber {
    position: absolute;
    width: 202px;
    height: 222px;  
    bottom: 58px;
    left : 1610px;
    color: black;
    font-size: 20px;  
}

#Ncypher {
    position: absolute;
    width: 202px;
    height: 222px;  
    top: 1155px;
    left: 230px;
    color: black;
    font-size: 20px;   
}

#Nkayo {
    position: absolute;
    width: 202px;
    height: 222px;     
    top: 1155px;
    left : 650px;
    color: black;
    font-size: 20px;     
}

#Nkilljoy {
    position: absolute;
    width: 202px;
    height: 222px;     
    top: 1155px;
    left : 1120px;
    color: black;
    font-size: 20px;       
}

#Nneon {
    position: absolute;
    width: 202px;
    height: 222px;     
    top: 1160px;
    left : 1625px;
    color: black;
    font-size: 20px;      
}

#Nomen {
    position: absolute;
    width: 202px;
    height: 222px;  
    top: 1665px;
    left: 205px;
    color: black;
    font-size: 20px;   
}

#Nraze {
    position: absolute;
    width: 202px;
    height: 222px;  
    top: 1665px;
    left : 640px;
    color: black;
    font-size: 20px;    
}

#Nreyna {
    position: absolute;
    width: 202px;
    height: 222px;  
    top: 1665px;
    left : 1140px;
    color: black;
    font-size: 20px;       
}

#Nskye {
    position: absolute;
    width: 202px;
    height: 222px;  
    top: 1665px;
    left : 1635px;
    color: black;
    font-size: 20px;     
}

#Nviper {
    position: absolute;
    width: 202px;
    height: 222px;  
    top: 2190px;
    left : 640px;
    color: black;
    font-size: 20px;   
}

#Nyuro {
    position: absolute;
    width: 202px;
    height: 222px;  
    top: 2190px;
    left : 1150px;
    color: black;
    font-size: 20px;   
}

#Carabreach {
    position: absolute;
    width: 202px;
    height: 222px;     
    bottom: 320px;
    left: 150px;
    color: black;
    font-size: 15px; 
    text-align: center;
}

#Carabrimstone {
    position: absolute;
    width: 202px;
    height: 222px;  
    bottom: 320px;
    left : 575px;
    color: black;
    font-size: 15px; 
    text-align: center; 
}

#Carajett {
    position: absolute;
    width: 202px;
    height: 222px;  
    bottom: 320px;
    left : 1040px;
    color: black;
    font-size: 15px; 
    text-align: center;
}

#Caraphoenix {
    position: absolute;
    width: 202px;
    height: 222px;  
    bottom: 320px;
    left : 1525px;
    color: black;
    font-size: 15px; 
    text-align: center; 
}

#Carasage {
    position: absolute;
    width: 202px;
    height: 222px;     
    top: 915px;
    left: 150px;
    color: black;
    font-size: 15px; 
    text-align: center;
}

#Carasova {
    position: absolute;
    width: 202px;
    height: 222px;     
    top: 915px;
    left : 575px;
    color: black;
    font-size: 15px; 
    text-align: center;
}

#Caraastra {
    position: absolute;
    width: 202px;
    height: 222px;     
    top: 915px;
    left : 1045px;
    color: black;
    font-size: 15px; 
    text-align: center;
}

#Carachamber {
    position: absolute;
    width: 202px;
    height: 222px;     
    top: 915px;
    left : 1555px;
    color: black;
    font-size: 15px; 
    text-align: center;
}

#Caracypher {
    position: absolute;
    width: 202px;
    height: 222px;     
    top: 1415px;
    left: 155px;
    color: black;
    font-size: 15px; 
    text-align: center;
}

#Carakayo {
    position: absolute;
    width: 202px;
    height: 222px;     
    top: 1415px;
    left : 590px;
    color: black;
    font-size: 15px; 
    text-align: center;
}

#Carakilljoy {
    position: absolute;
    width: 202px;
    height: 222px;     
    top: 1415px;
    left : 1060px;
    color: black;
    font-size: 15px; 
    text-align: center;
}

#Caraneon {
    position: absolute;
    width: 202px;
    height: 222px;     
    top: 1415px;
    left : 1555px;
    color: black;
    font-size: 15px; 
    text-align: center;
}

#Caraomen {
    position: absolute;
    width: 202px;
    height: 222px;     
    top: 1930px;
    left: 140px;
    color: black;
    font-size: 15px; 
    text-align: center;
}

#Cararaze {
    position: absolute;
    width: 202px;
    height: 222px;     
    top: 1930px;
    left : 575px;
    color: black;
    font-size: 15px; 
    text-align: center;
}

#Carareyna {
    position: absolute;
    width: 202px;
    height: 222px;     
    top: 1935px;
    left : 1060px;
    color: black;
    font-size: 15px; 
    text-align: center;
}

#Caraskye {
    position: absolute;
    width: 202px;
    height: 222px;     
    top: 1935px;
    left : 1560px;
    color: black;
    font-size: 15px; 
    text-align: center;
}

#Caraviper {
    position: absolute;
    width: 202px;
    height: 222px;     
    top: 2495px;
    left : 575px;
    color: black;
    font-size: 15px; 
    text-align: center;
}

#Carayuro {
    position: absolute;
    width: 202px;
    height: 222px;     
    top: 2495px;
    left : 1070px;
    color: black;
    font-size: 15px; 
    text-align: center;
}

#discord {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 92%;
    left: 3%;
    border-radius: 50%;
}

#riot {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 92%;
    left: 6%;
    border-radius: 50%;
}